body {
    font-family: Calibri, arial, sans-serif;
}

h1 {
    text-align: center;
}

.index-card {
    display: table;
    position: relative;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    max-width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
}

.card-text {
    display: table-cell;
    vertical-align: middle;
}

.control-panel {
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    max-width: 500px;
    background-color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 10px;
}

.ctrl-btn {
    min-width: 75px;
    max-width: 100px;
    height: 40px;
    background-color: gray;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #faffd8;
}

.swap-sides {
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: -25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    color: #54577c;
}

.swap-sides:hover {
    color: black;
}

.btn-dark-blue {
    background-color: #54577c;
}

.btn-dark-blue:hover {
    background-color: #6e74b2;
}

.btn-light-blue {
    background-color: #4a7b9d;
}

.btn-light-blue:hover {
    background-color: #5d96bd;
}

.btn-gray {
    background-color: #9aa899;
}

.btn-gray:hover {
    background-color: #bbccb9;
}