body {
    font-family: Calibri, arial, sans-serif;
}

h1 {
    text-align: center;
}

.index-card {
    display: table;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    max-width: 500px;
    height: 300px;
    /*line-height: 300px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
}

.card-text {
    display: table-cell;
    vertical-align: middle;
    /*line-height: normal;*/
}